

.plantCardContainer {
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.plantCardContainer:hover {
    transform: scale(1.01);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}

.plantInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    padding-right: 20px;
    border-right: solid 1px #e2e8f0;
}

.plantName {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.plantPosition,
.plantStatus {
    font-size: 16px;
    color: #4a5568;
}

.plantStatus {
    font-weight: 600;
    color: #10b981;
    background-color: rgba(16, 185, 129, 0.1);
    padding: 4px 8px;
    border-radius: 6px;
    display: inline-block;
}

.plantDescription {
    flex: 2;
    font-size: 15px;
    line-height: 26px;
    color: #4a5568;
    opacity: 0.9;
}

.plantButton {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 768px) {
    .plantCardContainer {
        flex: 1;
        flex-direction: column;
        text-align: center;
        padding: 24px;
    }
    .plantInfo {
        border-right: none;
        padding-right: 0;
        border-bottom: solid 1px #e2e8f0;
        padding-bottom: 20px;

    }
    
    .plantButton {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    
}