.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    background-color: #F5FAF1;
    box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);;
}

.inputField{
    display: flex;
    flex-direction: column;
}


.loginButton{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
    -webkit-box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
    -moz-box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
}

.loginButton:hover{
    background-color: #45a049;
}

::placeholder{
    padding-left: 10px;
}



