.main-section {
    flex:4;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 20px;
}

.plantContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
