

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.mainContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    background-image: linear-gradient(-45deg, #8294C4, #f3d7a6, #DBDFEA);
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    background-color: #F5FAF1;
    box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 2px 37px 1px rgba(0,0,0,0.75);;
}

.inputField{
    display: flex;
    flex-direction: column;
}

.email{
    margin-bottom: 10px;
}

.password{
    margin-bottom: 10px;
}

.loginButton{
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
    -webkit-box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
    -moz-box-shadow: -2px 2px 37px -11px rgba(69,160,73,0.75);
}

.loginButton:hover{
    background-color: #45a049;
}

::placeholder{
    padding-left: 10px;
}

input{
    width: 250px;
    height: 25px;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px;
}

img{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

