
img.medium-size{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

img.small-size{
    width: 150px;
    height: 140px;
}

img.large-size{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}