
img.medium-size{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}

img.small-size{
    width: 190px;
    height: 130px;
}

img.large-size{
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}